@import '../global/_variables'; // global variables.
@import '../global/components/_mixins'; // global mixings.
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.dn{
  display: none;
}
.xwztgl {
  height: 35px;
  width: 96.25%;
  background: #e7ebef;
  line-height: 35px;
  padding-left: 3.75%;
  .gl_y,.gl_y2{
    width: 115px;
    cursor: pointer;
  }
  span {
    color: #40505f;
    font-size: 14px;
  }
}

.icon_yb {
  margin-left: 6px;
}

.bg_bor {
  background: #e6eaef;
  border-radius: 50% !important;
  width: 68px;
  height: 68px;
  margin: 0 auto;
}

.name {
  text-align: left;
  margin-top: 7px;
}

.icon_lists {
  li {
    width: 84px;
    a {
      color: #4f5f6f;
      font-size: 14px;
    }
  }
  .icon {
    &:hover {
      font-size: 40px;
    }
    line-height: 50px;
    font-size: 40px;
    color: #4f5f6f;
  }
}

.bg_bor:hover {
  .icon {
    color: #fff;
  }
  background: #2d95c4;
  box-shadow:0px 7px 5px #dee1e5;
}

.icon_lists li {
  margin-left: 37px !important;
}

.main1 {
  margin-top: 35px;
  margin-left: 15px;
}


/*!*为大屏幕设备 pc *!*/
/*@media all and (min-width: 1200px) {
    html {
        font-size: 100%;
    }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
    html {
        font-size: 90% !important;
    }
    header {
        height: 72px;
    }
    .head img {
        height: 90%;
        width: 90%;
    }
    .login {
        height: 288px;
        width: 279px;
        position: absolute;
        right: 13.5%;
        top: 90px;
    }
    .l_text {
        font-size: 17px;
    }
    .l_input {
        margin-top: 40.5px;
    }
    .l_btn {
        margin-top: 45px;
        height: 32.4px;
    }
    .con {
        min-height: 432px;
    }
    .cz {
        margin-top: 9px;
    }
    footer {
        margin-top: 63px;
    }
}

@media only screen and (max-width: 959px) {
    html {
        font-size: 80% !important;
    }
    header {
        height: 64px;
    }
    .head img {
        height: 80%;
        width: 80%;
    }
    .login {
        height: 256px;
        width: 248px;
        position: absolute;
        right: 12%;
        top: 80px;
    }
    .l_text {
        font-size: 16px;
    }
    .l_input {
        margin-top: 25px;
    }
    .l_btn {
        margin-top: 30px;
        height: 32.4px;
    }
    .con {
        min-height: 384px;
    }
    .cz {
        margin-top: 8px;
    }
    footer {
        margin-top: 54px;
    }
}


@media only screen and (min-width: 480px) and (max-width: 767px){

}
@media only screen and (max-width: 479px){

}*/




.portlet {
  margin: 0;
  &.box.default {
    border-left: 0;
    border-right: 0;
  }
  >.portlet-title {
    >.caption{
      font-size: 14px;
      color: #40505f;
    }
    >.tools{
      >a.collapse {
        background-image: url(../img/portlet-collapse-icon-dark.png) !important;
      }
      >a.expand {
        background-image: url(../img/portlet-expand-icon-dark.png) !important;
      }
    }
  }
}