
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490234656434'); /* IE9*/
  src: url('iconfont.eot?t=1490234656434#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490234656434') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490234656434') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490234656434#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfont-Cost:before { content: "\e605"; }

.icon-iconfont-wangyin:before { content: "\e606"; }

.icon-iconfont-jiesuan:before { content: "\e607"; }

.icon-iconfont-nianbao:before { content: "\e608"; }

.icon-iconfont-Setup:before { content: "\e609"; }

.icon-iconfont-LearningCenter:before { content: "\e60a"; }

.icon-iconfont-moni:before { content: "\e60c"; }

.icon-iconfont-yewu:before { content: "\e60d"; }

.icon-iconfont-achievement:before { content: "\e60e"; }

.icon-iconfont-xuanke:before { content: "\e610"; }

.icon-iconfont-school:before { content: "\e617"; }

.icon-iconfont-jiaowu:before { content: "\e612"; }

.icon-iconfont-dashuju:before { content: "\e603"; }

.icon-iconfont-lunwen:before { content: "\e604"; }

.icon-iconfont-ceshi:before { content: "\e611"; }

.icon-iconfont-luqu:before { content: "\e60f"; }

.icon-iconfont-yuyue:before { content: "\e60b"; }

.icon-iconfont-baoming:before { content: "\e613"; }

.icon-iconfont-ruxue:before { content: "\e614"; }

.icon-iconfont-kaoshi:before { content: "\e615"; }

.icon-iconfont-yuxuan:before { content: "\e628"; }

.icon-iconfont-shouquan:before { content: "\e62c"; }

.icon-iconfont-baoming1:before { content: "\e62d"; }

.icon-iconfont-jiesuan1:before { content: "\e62f"; }

.icon-iconfont-jishu:before { content: "\e630"; }

.icon-iconfont-zhaopian:before { content: "\e631"; }

.icon-iconfont-jiaoshi:before { content: "\e632"; }

.icon-iconfont-xuewu:before { content: "\e633"; }

.icon-iconfont-tongkao:before { content: "\e634"; }

.icon-iconfont-weixin:before { content: "\e635"; }

.icon-iconfont-hujiao:before { content: "\e636"; }

.icon-iconfont-yonghu:before { content: "\e637"; }

.icon-iconfont-youji:before { content: "\e616"; }

.icon-iconfont-youji1:before { content: "\e618"; }

.icon-iconfont-youji2:before { content: "\e619"; }

.icon-iconfont-youji3:before { content: "\e61a"; }

.icon-iconfont-Statistics:before { content: "\e61b"; }

.icon-iconfont-Statistics1:before { content: "\e61c"; }

.icon-iconfont-Statistics2:before { content: "\e61d"; }

.icon-iconfont-Statistics3:before { content: "\e61e"; }

.icon-iconfont-chaxun:before { content: "\e61f"; }

.icon-iconfont-chaxun1:before { content: "\e620"; }

.icon-iconfont-chaxun2:before { content: "\e621"; }

.icon-iconfont-chaxun3:before { content: "\e622"; }

.icon-iconfont-shenhe:before { content: "\e623"; }

.icon-iconfont-shenhe1:before { content: "\e624"; }

.icon-iconfont-shenhe2:before { content: "\e625"; }

.icon-iconfont-shenhe3:before { content: "\e626"; }

.icon-iconfont-shenhe4:before { content: "\e627"; }

.icon-iconfont-piliang:before { content: "\e629"; }

.icon-iconfont-piliang1:before { content: "\e62a"; }

.icon-iconfont-piliang2:before { content: "\e62b"; }

.icon-iconfont-piliang3:before { content: "\e62e"; }

.icon-iconfont-daochu:before { content: "\e638"; }

.icon-iconfont-daochu1:before { content: "\e639"; }

.icon-iconfont-daochu2:before { content: "\e63a"; }

.icon-iconfont-daochu3:before { content: "\e63b"; }

.icon-iconfont-daochu4:before { content: "\e63c"; }

.icon-iconfont-daochu5:before { content: "\e63d"; }

.icon-iconfont-xueji:before { content: "\e63e"; }

.icon-iconfont-xueji1:before { content: "\e63f"; }

.icon-iconfont-xueji2:before { content: "\e640"; }

.icon-iconfont-xueji3:before { content: "\e641"; }

.icon-iconfont-shuju:before { content: "\e642"; }

.icon-iconfont-shuju1:before { content: "\e643"; }

.icon-iconfont-shuju2:before { content: "\e644"; }

.icon-iconfont-shuju3:before { content: "\e645"; }

.icon-iconfont-shuju4:before { content: "\e646"; }

.icon-iconfont-guanli:before { content: "\e647"; }

.icon-iconfont-guanli1:before { content: "\e648"; }

.icon-iconfont-guanli2:before { content: "\e649"; }

.icon-iconfont-guanli3:before { content: "\e64a"; }

.icon-iconfont-xuanke1:before { content: "\e64b"; }

.icon-iconfont-xuanke2:before { content: "\e64c"; }

.icon-iconfont-xuanke3:before { content: "\e64d"; }

.icon-iconfont-xuanke4:before { content: "\e64e"; }

.icon-iconfont-xuewei:before { content: "\e64f"; }

.icon-iconfont-xuewei1:before { content: "\e650"; }

.icon-iconfont-xuewei2:before { content: "\e651"; }

.icon-iconfont-xuewei3:before { content: "\e652"; }

.icon-iconfont-xinxi:before { content: "\e653"; }

.icon-iconfont-xinxi1:before { content: "\e654"; }

.icon-iconfont-xinxi2:before { content: "\e655"; }

.icon-iconfont-xinxi3:before { content: "\e656"; }

.icon-iconfont-biye:before { content: "\e657"; }

.icon-iconfont-biye1:before { content: "\e658"; }

.icon-iconfont-biye2:before { content: "\e659"; }

.icon-iconfont-biye4:before { content: "\e65b"; }

.icon-iconfont-duanxin:before { content: "\e65c"; }

.icon-iconfont-duanxin1:before { content: "\e65d"; }

.icon-iconfont-duanxin2:before { content: "\e65e"; }

.icon-iconfont-duanxin3:before { content: "\e65f"; }

.icon-iconfont-duanxin4:before { content: "\e660"; }

.icon-iconfont-duanxin5:before { content: "\e661"; }

.icon-iconfont-duanxin6:before { content: "\e662"; }

.icon-iconfont-gonggao:before { content: "\e663"; }

.icon-iconfont-gonggao1:before { content: "\e664"; }

.icon-iconfont-gonggao2:before { content: "\e665"; }

.icon-iconfont-gonggao3:before { content: "\e666"; }

.icon-iconfont-gonggao4:before { content: "\e667"; }

.icon-iconfont-gonggao5:before { content: "\e668"; }

.icon-iconfont-ziyuan:before { content: "\e669"; }

.icon-iconfont-ziyuan1:before { content: "\e66a"; }

.icon-iconfont-ziyuan2:before { content: "\e66b"; }

.icon-iconfont-ziyuan3:before { content: "\e66c"; }

.icon-iconfont-ziyuan4:before { content: "\e66d"; }

.icon-iconfont-ziyuan5:before { content: "\e66e"; }

.icon-iconfont-zhuangtai:before { content: "\e66f"; }

.icon-iconfont-zhuangtai1:before { content: "\e670"; }

.icon-iconfont-zhuangtai2:before { content: "\e671"; }

.icon-iconfont-zhuangtai3:before { content: "\e672"; }

.icon-iconfont-zhuangtai4:before { content: "\e673"; }

.icon-iconfont-biye3:before { content: "\e65a"; }

.icon-iconfont-baoming2:before { content: "\e674"; }

.icon-iconfont-dashuju1:before { content: "\e675"; }

.icon-iconfont-baoming3:before { content: "\e676"; }

.icon-iconfont-kaoshi1:before { content: "\e677"; }

.icon-iconfont-baoming4:before { content: "\e678"; }

.icon-iconfont-kaoshi2:before { content: "\e679"; }

.icon-iconfont-lunwen1:before { content: "\e67a"; }

.icon-iconfont-luqu1:before { content: "\e67b"; }

.icon-iconfont-lunwen2:before { content: "\e67c"; }

.icon-iconfont-lunwen3:before { content: "\e67d"; }

.icon-iconfont-luqu2:before { content: "\e67e"; }

.icon-iconfont-yuyue1:before { content: "\e67f"; }

.icon-iconfont-yuyue2:before { content: "\e680"; }

.icon-iconfont-hujiao1:before { content: "\e681"; }

.icon-iconfont-jishu1:before { content: "\e682"; }

.icon-iconfont-xuewu1:before { content: "\e683"; }

.icon-iconfont-jiaoshi1:before { content: "\e684"; }

.icon-iconfont-baoming5:before { content: "\e685"; }

.icon-iconfont-ceshi1:before { content: "\e686"; }

.icon-iconfont-ceshi2:before { content: "\e687"; }

.icon-iconfont-kaoshi3:before { content: "\e688"; }

.icon-iconfont-luqu3:before { content: "\e689"; }

.icon-iconfont-ceshi3:before { content: "\e68a"; }

.icon-iconfont-luqu4:before { content: "\e68b"; }

.icon-iconfont-ruxue1:before { content: "\e68c"; }

.icon-iconfont-yuyue3:before { content: "\e68d"; }

.icon-iconfont-ruxue2:before { content: "\e68e"; }

.icon-iconfont-zhaosheng:before { content: "\e68f"; }

.icon-iconfont-zhaosheng1:before { content: "\e690"; }

.icon-iconfont-zhaosheng2:before { content: "\e691"; }

.icon-iconfont-zhaosheng3:before { content: "\e692"; }

.icon-iconfont-tongyong:before { content: "\e693"; }

.icon-iconfont-tongyong1:before { content: "\e694"; }

.icon-iconfont-tongyong2:before { content: "\e695"; }

.icon-iconfont-tongyong3:before { content: "\e696"; }

.icon-iconfont-tongyong4:before { content: "\e697"; }

.icon-iconfont-tongyong5:before { content: "\e698"; }

.icon-iconfont-tongyong6:before { content: "\e699"; }

.icon-iconfont-tongyong7:before { content: "\e69a"; }

